/*公共样式*/
@keyframes pop-ups {
    from {
        opacity: 0;
        transform: scale(0.7);
        
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.window-boundingBox {
    position: fixed;
    z-index: 9999;
}

.window-mask {
    position: absolute;
    z-index: 9999;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, .3);
}

/*默认皮肤*/
.window-default.window-boundingBox {
    min-width: 200px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5);
    cursor: default;
    animation: pop-ups .3s ease-out;
}

.window-default.window-boundingBox .window-header {
    line-height: 2.5em;
    text-align: center;
    color: #fff;
    background: #009f95;
    cursor: move;
}

.window-default.window-boundingBox .window-header .window-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.3em;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.window-default.window-boundingBox .window-header .window-close:hover {
    color: #ccc;
}

.window-default.window-boundingBox .window-body {
    height: calc(100% - 115px);
    padding: 1.2em;
    padding-bottom: 3.5em;
    word-break: break-all;
    text-align: center;
    line-height: 1.5;
}
.window-default.window-boundingBox .window-body:after {
    content:"";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.window-default.window-boundingBox .window-body .window-middle {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.window-default.window-boundingBox .window-body .window-text {
    width: 100%;
    height: 1.3em;
    margin-top: .7em;
    font-size: 100%;
}
.window-default.window-boundingBox .window-body .window-content {
    margin: 0;
}

.window-default.window-boundingBox .window-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: .7em;
    text-align: center;
}

.window-default.window-boundingBox .window-footer .window-btn {
    padding: .5em 1.3em;
    border: 1px solid #009f95;
    border-radius: .25em;
    color: #fff;
    background: #009f95;
    cursor: pointer;
}

.window-default.window-boundingBox .window-footer .window-cancle {
    margin-left: 1.2em;
    border-color: #dedede;
    color: #333;
    background: #fff;
}


/*第一套皮肤 */
.window-moon.window-boundingBox {
    min-width: 10em;
    border-radius: .2em;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    animation: pop-ups .3s ease-out;
}

.window-moon.window-boundingBox .window-header {
    padding-left: 1.2em;
    line-height: 2.5em;
    border-bottom: 1px solid #eee;
    border-radius: .2em .2em 0 0;
    color: #333;
    background-color: #F8F8F8;
    cursor: move;
}

.window-moon.window-boundingBox .window-header .window-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.3em;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.window-moon.window-boundingBox .window-header .window-close:hover {
    color: #999;
}

.window-moon.window-boundingBox .window-body {
    padding: 1.2em;
    padding-bottom: 3.5em;
    word-break: break-all;
    line-height: 1.5;
    text-align: left;
}

.window-moon.window-boundingBox .window-body .window-text {
    width: 100%;
    height: 1.3em;
    margin-top: .7em;
    font-size: 100%;
}
.window-moon.window-boundingBox .window-body .window-content {
    margin: 0;
}

.window-moon.window-boundingBox .window-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1em .7em;
    text-align: right;
}

.window-moon.window-boundingBox .window-footer .window-btn {
    padding: .5em .7em;
    border: 1px solid #67b3eb;
    border-radius: .25em;
    color: #fff;
    background: #67b3eb;
    cursor: pointer;
}

.window-moon.window-boundingBox .window-footer .window-cancle {
    margin-left: 1.2em;
    border-color: #dedede;
    color: #333;
    background: #fff;
}
